button {
  --button-height: calc(40 / 16 * 1em);
  --button-padding: calc(8 / 16 * 1em);
  --icon-height: calc(24 / 16 * 1em);
  --icon-width: calc(24 / 16 * 1em);

  width: fit-content;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--button-padding);
  user-select: none;
  overflow: hidden;
  transition: var(--ts-secondary);

  @media (pointer: fine) {
    cursor: pointer;
  }

  .button-icon-container {
    margin: 0;
    height: var(--icon-height);
    width: var(--icon-width);
    min-height: var(--icon-height);
    min-width: var(--icon-width);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    overflow: hidden;
    padding: calc(2 / 16 * 1em);

    &:is(*) {
      height: var(--icon-height);
      width: var(--icon-width);
      color: var(--text-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: var(--ts-secondary);
    }
  }

  &.button {
    height: var(--button-height);
    width: 100%;
    border: var(--border);
    border-radius: 16px;
    transition: var(--ts-secondary);
    padding: calc(var(--button-padding) * 1.6);

    label {
      font-size: 1em;
      font-weight: 600;
      white-space: nowrap;
      text-transform: lowercase;
      line-height: var(--icon-height);
      cursor: inherit;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  &.button-as-icon {
    padding: var(--button-padding);
    height: var(--button-height);
    min-height: var(--button-height);
    width: var(--button-height);
    min-width: var(--button-height);
    border: var(--border);
    border-radius: var(--button-height);
    transition: var(--ts-secondary);
  }
}

@media (pointer: fine) {
  .button,
  .button-1-1 {
    cursor: pointer;
  }

  .button:disabled,
  .button-as-icon:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

button,
.button,
.button-as-icon {
  background-color: var(--btn-primary);
  color: var(--text-primary);

  &:hover {
    background-color: var(--btn-primary-hover) !important;
  }
}
