.dashboard-header {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;

  .left-header-grid {
    display: flex;
    align-items: center;
    gap: 4px;

    .conditional-elements {
      height: 100%;
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 4px;

      @media (width > 768px) {
        & {
          display: none;
        }
      }

      .open-dashboard-sidebar-button {
        background-color: transparent;
        border: none;
      }
    }
  }

  .right-header-grid {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
  }
}
