.dashboard-sidebar {
  height: 100%;
  width: 275px;
  display: grid;
  grid-template-rows: var(--header-height) var(--screen-height);

  .header-container {
    height: var(--header-height);
    align-items: center;

    .header-container-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      column-gap: 4px;

      .close-dashboard-sidebar-button {
        background-color: transparent;
        border: none;

        @media (width > 768px) {
          & {
            display: none;
          }
        }
      }
    }
  }

  .nav-links-container {
    overflow-y: auto;

    .nav-links-container-wrapper {
      display: flex;
      flex-direction: column;

      a {
        text-align: start;
        justify-content: flex-start;
        background-color: transparent;
        border: none;

        &:hover {
          background-color: var(--btn-primary-hover);
        }
      }
    }
  }
}
