.root-layout {
  height: 100%;
  width: 100%;

  .global-theme-button-container {
    position: fixed;
    height: fit-content;
    width: fit-content;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
  }
}
