.main-layout {
  .main-layout-continer {
    display: grid;
    grid-template-rows: var(--header-height) var(--screen-height);

    .main-layout-content-container {
      display: flex;
      flex-direction: column;
      max-height: var(--screen-height);
      overflow-y: auto;

      .main-layout-content {
        min-height: var(--screen-height);
      }

      .main-layout-footer {
        height: fit-content;
      }
    }
  }
}
