.header-wrapper {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.main-content {
    min-height: var(--screen-height);
}
