.header-wrapper {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: transparent;
}

.main-content {
  padding-top: var(--header-height);
  min-height: 100dvh;
}
