.main-layout {
  .main-layout-continer {
    display: grid;
    grid-template-rows: var(--header-height) var(--screen-height);

    .main-layout-content-container {
      width: 100%;
      max-height: var(--screen-height);
      display: flex;
      flex-direction: column;
      overflow-y: auto;

      .main-layout-content {
        width: 100%;
        min-height: var(--screen-height);
      }

      .main-layout-footer {
        width: 100%;
        min-height: fit-content;
        background-color: var(--bg-footer);
        transition: var(--transition);
      }
    }
  }
}
