.not-found-page {
  min-height: var(--screen-height);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .not-found-card {
      height: fit-content;
      width: 100%;
      max-width: calc(400 / 16 * 1em);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .not-found-title {
        text-align: center;
        color: var(--text-primary);
      }

      .not-found-message {
        text-align: center;
        color: var(--text-secondary);
      }
    }
  }
}
