# Ignore the hidden dependency  and cache
.venv
__pycache__
.ropeproject
.ruff_cache

# Ignore the backend dependency and cache
backend/.env
backend/**/__pycache__
backend/**/migrations
backend/db.sqlite3
backend/logs/django.log
backend/.ruff_cache

# Ignore the frontend dependency
frontend/node_modules
frontend/package-lock.json
frontend/.env
