# Ignore the . dependency
.venv
.ropeproject

# Ignore the backend dependency
backend/.env
backend/**/__pycache__
backend/*/migrations
backend/db.sqlite3

# Ignore the frontend dependency
frontend/node_modules
frontend/package-lock.json
frontend/.env
