.loader-container {
  --icon-size: 18px;
  background-color: transparent;
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;

  .MuiCircularProgress-root {
    width: fit-content !important;
    height: fit-content !important;
    color: var(--button-text-color);
    transition: var(--transition);

    .MuiCircularProgress-svg {
      width: var(--icon-size);
      height: var(--icon-size);
      transition: var(--transition);
    }
  }
}
