.header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: unset;
    left: 0;
    min-height: var(--header-height);
    /* background-color: var(--header-background); */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    
    .header-wrapper {
        width: 100%;
    }
}