.auth-alyout {
    background-color: transparent;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;

    .theme-button-wrapper {
        height: var(--header-height);
        background-color: transparent;
        position: fixed;
        top: 0;
        right: 0;
        bottom: unset;
        left: 0;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s;

        .theme-button-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    .form-wrapper {
        background-color: var(--card-background);
        height: 100%;
        min-height: calc(425/16 * 1em);
        width: 100%;
        max-width: calc(768/16 * 1em);
        padding: 32px;
        border: var(--border);
        border-radius: 32px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
        transition:
            background-color 0.3s ease,
            max-width 0.3s ease,
            border 0.3s ease;
    }
}

@media (width < 768px) {
    .auth-alyout {
        background-color: var(--card-background);

        .form-wrapper {
            max-width: calc(480/16 * 1em);
            border-color: transparent;
        }
    }
}
