.auth-alyout {
    background-color: transparent;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .theme-button-container {
        position: fixed;
        top: 0;
        right: 0;
    }
    
    .form-wrapper {
        background-color: var(--card-background);
        /* height: 100%; */
        height: calc(450/16 * 1em);
        width: 100%;
        max-width: calc(775/16 * 1em);
        padding: 32px;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}