.toast {
  &.toast-success {
    --color: var(--status-success);
  }

  &.toast-error {
    --color: var(--status-error);
  }

  &.toast-info {
    --color: var(--status-info);
  }

  &.toast-warning {
    --color: var(--status-warning);
  }

  & {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: start;
    justify-content: center;
    padding: calc(8 / 16 * 1em);
    border-radius: calc(16 / 16 * 1em);
    column-gap: 4px;
    user-select: none;
    border: var(--border);
    background-color: var(--bg-secondary);
    animation: fadeIn 0.5s ease-in-out;
    transition: var(--ts-seconday);
  }

  &.toast-removed {
    animation: fadeOut 0.5s ease-in-out;
    transition: var(--ts-seconday);
  }

  .toast-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-container {
      color: var(--color);
      width: 24px;
      height: 24px;
      transition: var(--ts-seconday);
    }
  }

  .message-container {
    background-color: transparent;
    padding-right: 4px;
    border-right: var(--border);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: var(--ts-seconday);

    .error-message {
      margin: 0;
      color: var(--color);
      transition: var(--ts-seconday);

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  .button-container {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    .toast-close-button {
      color: var(--text-primary);
      height: fit-content;
      transition: var(--ts-seconday);
      border-radius: 8px;

      .icon-container {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.toast button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  to {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
