.error-text-message {
    color: var(--error-text-primary);
    width: 100%;
    padding-inline: 0;
    padding-top: 6px;
    line-height: 1;
    
    &:last-child {
        padding-bottom: 6px;
    }
}

.error-message-continer {
    background-color: var(--background-light);
    width: 100%;
    padding-inline: 14px;
    padding-block: 2px;
    border: var(--border);
    border-radius: 16px;
    transition: background-color 0.3s, border 0.3s;
    overflow: hidden;

    .error-text-message {
        color: var(--error-text-primary);
        width: 100%;
        padding-inline: 0;
        padding-top: 6px;
        line-height: 1;
        margin-block: 0;

        &:last-child {
            padding-bottom: 6px;
        }
    }
}