.error-boundary {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;

    .inner-error-boundary {
        height: 100%;
        width: 100%;
        padding: calc(8/16 * 3em);
        box-shadow: var(--box-shadow);
        background-color: var(--card-background);
        overflow: hidden;
        overflow-x: auto;

        h4,
        p {
            padding-inline: calc(3/16 * 3em);
            color: var(--error-text-primary);

            span {
                font-weight: 600;
            }
        }

        p {
            margin-top: calc(8/16 * 3em);
        }

        button {
            max-width: fit-content;
            background-color: transparent;
            box-shadow: var(--box-shadow);
            margin-top: calc(8/16 * 3em);

            &:hover {
                background-color: transparent;
            }
        }
    }
}