.toast-container {
  --max-width: calc(450 / 16 * 1rem);
  position: fixed;
  top: 4px;
  width: 100%;
  max-width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: calc(16 / 16 * 1rem);

  .toasts {
    background-color: transparent;
    width: 100%;
    max-width: var(--max-width);
    max-height: 50dvh;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: calc(16 / 16 * 1em);
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    transition: var(--ts-secondary);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @media (width > 480px) {
    max-width: var(--max-width);
    inset-inline: calc(50% - calc(var(--max-width) / 2));
  }
}
