<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Deactivation Confirmation</title>
</head>
<body>
    <h2>Account Deactivation Confirmation</h2>

    <p>Hello {{ user.get_full_name|default:user.email }},</p>

    <p>This email confirms that your account has been successfully deactivated. All associated data and personal information have been removed from our active systems as per your request.</p>
    <p>If this was done in error or you'd like to reactivate your account in the future, please contact our support team at <a href="mailto:support@company.com">support@company.com</a> within 30 days. After this period, your data may be permanently deleted.</p>

    <p>Thank you for being our customer. We're sorry to see you go.</p>

    <p>Best regards,<br>[Company Name] Team</p>
</body>
</html>
