.header {
    width: 100%;
    min-height: var(--header-height);
    background-color: var(--header-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .header-links {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: space-between;
        
        .left-header {
            background: yellow;
            display: flex;
            align-items: center;
        }
        
        .center-header {
            background: moccasin;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .right-header {
            background: darkcyan;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}