.left-header {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 8px;
    user-select: none;
    
    .left-header-link {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        overflow: hidden;
    }
}