.success-details-container {
  background-color: var(--bg-secondary);
  background-color: transparent;
  width: 100%;
  padding-inline: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  overflow: hidden;
  transition: var(--ts-primary);

  .detail {
    color: var(--status-success);
    width: 100%;
    padding-inline: 0;
    line-height: 1.2;
    margin-block: 0;

    &:first-child {
      padding-top: 6px;
    }

    &:last-child {
      padding-bottom: 6px;
    }
  }
}
