/**
 * Root Element (#root)
 * ------------------
 * Container element that defines the main layout structure
 */
#root {
    display: grid;
    grid-template-columns: calc(25/16 * 1rem) repeat(10, 1fr) calc(25/16 * 1rem);
    height: 100%;
    min-height: 100dvh;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    transition: scrollbar-color 0.3s ease;
}
