.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sub-headers {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    column-gap: 4px;
    justify-content: space-between;

    .left-header {
      height: fit-content;
      display: flex;
      align-items: center;
      column-gap: 4px;

      .menu-open-button {
        background-color: transparent;
        border: none;
        transform: rotate(360deg);

        &:hover {
          background-color: var(--btn-primary-hover);
        }
      }

      .left-header-link {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        overflow: hidden;
      }
    }

    .center-header {
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .right-header {
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      column-gap: 8px;

      .other-links {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 8px;
      }
    }
  }
}
