.shorts-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100dvh;
  max-height: 100dvh;
  width: 100%;

  .shorts-layout-wrapper {
    aspect-ratio: 9/16;
    min-width: 0;
    display: flex;
    flex-direction: column;

    .outlet-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      border: 2px solid #00000033;
      overflow: hidden;
    }

    .tab-navigation-container {
      height: fit-content;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;

      a {
        border-radius: 12px;
      }
    }
  }
}
