.shorts-layout {
  --header-height: 50px;

  & {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    height: 100dvh;
    max-height: 100dvh;
    width: 100%;
  }

  .shorts-layout-wrapper {
    aspect-ratio: 9/16;
    height: calc(100dvh - var(--header-height));

    .shorts-header {
      height: fit-content;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

    .outlet-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .action-btns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: var(--header-height);
    padding-inline: 5px;

    @media (width < 480px) {
      & {
        display: none;
      }
    }
  }
}
