.shorts-layout {
  --header-height: 50px;

  & {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100dvh;
    max-height: 100dvh;
    width: 100%;
  }

  .shorts-layout-wrapper {
    aspect-ratio: 9/16;
    height: calc(100dvh - var(--header-height));

    .tab-navigation-container {
      height: fit-content;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;

      a {
        border-radius: 12px;
      }
    }

    .outlet-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      overflow: hidden;
      border: 2px solid #00000033;
    }
  }
}
