.comments-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .comments-wrapper {
    background-color: #1d1d1dc9;
    max-height: 40%;
    padding-block: 12px;
    border-radius: 12px;
    overflow: hidden;
    transform: translateY(100%);
    transition: var(--ts-secondary);
    display: flex;
    flex-direction: column;

    &.active {
      max-height: 40%;
      transform: translateY(0%);
    }

    .comments-header {
      padding-inline: 12px;
      display: flex;
      justify-content: space-between;
      gap: 12px;

      .comment-title {
        span {
          font-size: 14px;
          opacity: 0.8;
        }
      }

      .close-btn {
        width: fit-content;
        border: none;
        background-color: var(--btn-bg);

        &:hover {
          background-color: var(--btn-bg) !important;
        }
      }
    }

    .comments-container {
      padding-block: 12px;
      flex: 1;
      overflow: hidden;
      overflow-y: auto;

      .comments-scroll-wrapper {
        padding-inline: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .comment-container {
        display: flex;
        flex-direction: column;

        .comment-header {
          flex: 1;
          display: flex;
          gap: 8px;

          .figure {
            aspect-ratio: 1/1;
            height: 28px;
            background-color: beige;
            border-radius: 100%;
          }

          .comment-info {
            display: flex;
            flex-direction: column;

            .username {
              font-size: 16px;
            }

            .time {
              font-size: 12px;
            }
          }
        }

        .comment-contnet {
          display: flex;
          gap: 8px;

          .curve-line {
            aspect-ratio: 1/1;
            height: 28px;
            display: flex;

            span {
              flex: 1;
              height: 75%;
            }

            .span-2 {
              border-left: 2px solid beige;
              border-bottom: 2px solid beige;
              border-bottom-left-radius: 10px;
            }
          }

          .content-box {
            .content {
              font-size: 12px;
              margin-top: 10px;
            }
          }
        }
      }
    }

    .comment-form {
      padding-inline: 12px;
      display: flex;
      gap: 6px;
    }
  }
}
