.footer {
  min-height: 16em;

  .footer-wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: center;
    height: 100%;

    .content {
      padding-block: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .copy-right-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4px;
      user-select: none;
      max-width: fit-content;

      .copy-right-text {
        text-align: center;
        flex: 1;
        padding: 0;
        margin: 4px;
        font-weight: 500;

        .links {
          display: inline !important;
          padding: 0;
          background-color: transparent;

          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
  }
}
