.input-checkbox-component {
  --background-color: var(--bg-primary);
  --border-color: var(--border-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  user-select: none;

  .input-element-wrapper {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    border-radius: 16px;
    border-color: var(--border-color);
    user-select: none;
    transition:
      background-color 0.3s,
      border 0.3s;

    .input-element {
      position: relative;
      height: fit-content;
      background-color: transparent;

      .input,
      .label {
        font-size: calc(14 / 16 * 1rem);
        letter-spacing: 0.05em;
        color: var(--text-primary);
      }

      .input {
        width: 100%;
        padding-block: 12px;
        padding-inline: 6px;
        opacity: 0;
        z-index: -1;
      }

      .label {
        inset: 0;
        position: absolute;
        display: flex;
        align-items: center;
        transition: all 0.3s;

        &::before {
          content: "";
          position: relative;
          display: inline-block;
          width: 24px;
          height: 24px;
          border: 2px solid var(--border-color);
          border-radius: 8px;
          padding: 4px;
          background-color: var(--background-color);
          margin-right: 8px;
          transition: background-color 0.3s border 0.3s;
        }

        span {
          border-color: var(--border-color);
          padding-inline: 6px;
          border-radius: 999rem;
          transition: background-color 0.3s color 0.3s;

          &::first-letter {
            text-transform: capitalize;
          }
        }
      }

      .input:checked + .label {
        span {
          color: var(--text-accent);
        }
      }

      .input:checked + .label::before {
        background-color: var(--text-primary);
      }

      .input:checked + .label::after {
        content: "";
        position: absolute;
        left: 8px;
        top: 6px;
        width: 8px;
        height: 16px;
        border: solid var(--background-color);
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }
}

.input-component {
  --background-color: var(--bg-secondary);
  --border-color: var(--border-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  user-select: none;

  .input-element-wrapper {
    width: 100%;
    background-color: var(--background-color);
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    border-radius: 16px;
    border: var(--border);
    border-color: var(--border-color);
    user-select: none;
    transition:
      background-color 0.3s,
      border 0.3s;

    .input-element {
      position: relative;
      height: fit-content;
      background-color: transparent;

      .input,
      .label {
        font-size: calc(14 / 16 * 1rem);
        letter-spacing: 0.05em;
        color: var(--text-primary);
      }

      .input {
        width: 100%;
        padding-block: 12px;
        padding-inline: 6px;
        z-index: -1;
      }

      .label {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        user-select: none;
        transition: all 0.3s;

        span {
          background-color: var(--background-color);
          border-color: var(--border-color);
          padding-inline: 6px;
          border-radius: 999rem;
          transition:
            background-color 0.3s,
            border 0.3s;

          &::first-letter {
            text-transform: capitalize;
          }
        }
      }

      .input:focus ~ .label,
      .input:not(:placeholder-shown).input:not(:focus) ~ .label {
        transform: translateY(-50%);

        span {
          border-top: var(--border);
          color: var(--text-accent);
        }
      }
    }

    .show-password-icon-container {
      aspect-ratio: 1/1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999rem;

      .password-show-hide-button {
        background-color: transparent;
        border: none;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
