.signup-page {
  height: 100%;
  width: 100%;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    .from-label {
      text-align: center;
    }

    .form-description {
      text-align: center;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .split-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .actions {
      display: flex;
      justify-content: center;
      gap: 12px;

      @media (width < 480px) {
        flex-direction: column;
      }
    }
  }
}
