.signin-page {
  height: fit-content;
  width: 100%;
  max-width: calc(400 / 16 * 1em);
  align-items: center;
  justify-content: center;

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      .from-label {
        text-align: center;
      }

      .form-description {
        text-align: center;
      }
    }

    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;

      .split-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .forgot-password-link {
          background-color: transparent;
          padding: 0;

          &:hover {
            background-color: transparent !important;
          }
        }
      }

      .actions {
        display: flex;
        justify-content: center;
        gap: 12px;

        @media (width < 480px) {
          flex-direction: column;
        }
      }
    }
  }
}
