button {
    --button-height: calc(40/16 * 1em);
    --button-padding: calc(4/16 * 1em);
    --icon-height: calc(24/16 * 1em);
    --icon-width: calc(24/16 * 1em);
    border: var(--border);
    outline: none;
    border-radius: 999rem;
    height: var(--button-height);
    width: 100%;
    padding: var(--button-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--button-padding);
    user-select: none;
    overflow: hidden;
    transition: var(--transition);

    @media (pointer: fine) {
        cursor: pointer;
    }

    .button-icon-container {
        margin: 0;
        height: var(--icon-height);
        width: var(--icon-width);
        min-height: var(--icon-height);
        min-width: var(--icon-width);
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
        overflow: hidden;
        padding: calc(2/16 * 1em);

        &:is(span, svg, img) {
            height: var(--icon-height);
            width: var(--icon-width);
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
    }

    &.button {
        width: 100%;
        padding-inline: calc(16/16 * 1em);
        padding-inline-start: 8px;
        border: var(--border);
        background-color: var(--button-primary-background);
        color: var(--button-text-color);
        transition: var(--transition);

        &:is(:hover) {
            background-color: var(--button-primary-hover);
        }

        &:is(:focus, :focus-visible) {
            background-color: var(--button-primary-hover);
            outline: 2px solid var(--button-primary-hover);
            outline-offset: 2px;
        }

        label {
            font-size: 1em;
            font-weight: 600;
            white-space: nowrap;
            text-transform: lowercase;
            line-height: var(--icon-height);
            cursor: inherit;
            text-wrap: nowrap;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &::first-letter {
                text-transform: capitalize;
            }
        }
    }

    &.button-as-icon {
        height: var(--button-height);
        min-height: var(--button-height);
        width: var(--button-height);
        min-width: var(--button-height);
        border: var(--border);
        background-color: var(--button-primary-background);
        color: var(--button-text-color);
        transition: var(--transition);

        &:is(:hover) {
            background-color: var(--button-primary-hover);
        }

        &:is(:focus, :focus-visible) {
            background-color: var(--button-primary-hover) !important;
        }
    }
}
