.nav-links {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 8px;
    overflow: hidden;
    flex-wrap: wrap;
    
    .link {
        width: fit-content;
        background-color: transparent;
        color: var(--link-color);
    }
}