.error-boundary {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: var(--transition);

  .error-boundary-component {
    background-color: var(--bg-secondary);
    width: 100%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 12px;
    border-radius: 24px;
    border: var(--border);
    transition: var(--transition);

    .button {
      &:first-child {
        background-color: transparent;
        color: var(--status-error);
        cursor: default !important;

        .label {
          color: var(--status-error);
        }

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
