.dashboard-layout {
  height: 100dvh !important;
  display: grid;
  grid-template-columns: auto 1fr;

  .left-grid {
    height: 100%;
    width: 275px;
    background-color: var(--bg-secondary);
    overflow: hidden;
    transition:
      background-color 0.3s ease,
      width 0.3s ease;

    @media (width <= 768px) {
      & {
        width: 0px;
      }
    }

    .left-grid-wrapper {
      height: 100%;
    }
  }

  .right-grid {
    height: 100%;

    .right-grid-wrapper {
      height: 100%;

      .dashboard-containt-container {
        display: grid;
        grid-template-rows: var(--header-height) var(--screen-height);

        .dashboard-containt-header {
          align-items: center;
          justify-content: center;

          .dashboard-containt-header-wrapper {
            height: 100%;
            width: 100%;
          }
        }
      }

      .dashboard-content {
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}
