.google-button-wrapper {
  display: inline-block;
  width: 100%;
  height: fit-content;
  background-color: var(--btn-primary);
  color: var(--text-primary);
  border: var(--border);
  border-radius: 999rem;
  overflow: hidden;
  transition: var(--transition);

  &:hover {
    background-color: var(--btn-primary-hover);
  }

  div {
    div {
      background-color: transparent;
      color: var(--text-primary);
      overflow: hidden;
      border: none;
    }
  }
}
