.header {
    width: 100%;
    min-height: var(--header-height);
    background-color: var(--header-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-bottom: var(--border); */
    transition: background-color 0.3s ease;

    .sub-headers {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto 1fr;
        align-items: center;
        column-gap: 8px;
        justify-content: space-between;

        .left-header {
            height: fit-content;
            display: flex;
            align-items: center;
        }

        .center-header {
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .right-header {
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}
