.carousel {
  --padding: 4px;
  --border-radius: 12px;
  --image-size: 32px;
  --img-border-radius: 8px;

  position: relative;
  height: 275px;
  width: 100%;
  max-width: 480px;
  overflow: hidden;
  margin-inline: auto;
  background-color: transparent;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;

  .carousel-track {
    height: 100%;
    min-height: 0;
    width: 100%;
    min-width: 100%;
    display: flex;
    transition:
      transform 0.4s ease-in-out,
      background-color 0.4s ease-in-out;

    .carousel-slide {
      height: 100%;
      width: 100%;
      min-width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--bg-secondary);
      transition: background-color 0.4s ease-in-out;

      img {
        height: 100%;
        min-height: 100%;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        object-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      div {
        height: 100%;
        min-height: 100%;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
      }
    }
  }

  .carousel-slide-status {
    position: absolute;
    top: 2px;
    right: 0;
    backdrop-filter: blur(10px);
    /* background-color: #ffffff3d; */
    padding-inline: 6px;
    border-radius: 999rem;

    .status {
      color: var(--text-primary);
      font-size: 14px;
      font-weight: 500;
    }
  }

  .carousel-thumbnail-navigations {
    height: fit-content;
    min-height: fit-content;
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    gap: var(--padding);
    overflow: hidden;

    .thumbnails {
      height: 100%;
      width: 100%;
      display: flex;
      margin: var(--padding);
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .thumbnails-wrapper,
      .buttons-wrapper {
        height: 100%;
        width: fit-content;
        max-width: 100%;
        backdrop-filter: blur(10px);
        background-color: #ffffff3d;
        display: flex;
        align-items: center;
        gap: var(--padding);
        padding: var(--padding);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        overflow: hidden;
        overflow-x: auto;
        scrollbar-width: none;

        img {
          aspect-ratio: 1/1;
          height: var(--image-size);
          object-fit: cover;
          object-position: center;
          cursor: pointer;
          opacity: 0.6;
          outline: 2px solid #ffffff00;
          border-radius: var(--img-border-radius);
          transition:
            outline-color 0.4s ease-in-out,
            opacity 0.4s ease-in-out;

          &.active {
            opacity: 1;
            outline-color: var(--text-muted);
          }
        }

        &:has(.dot) {
          max-width: 240px;
        }

        .dot {
          background-color: black;
          aspect-ratio: 1/1;
          height: 14px;
          display: flex;
          gap: var(--padding);
          border-radius: 999rem;
          cursor: pointer;
          opacity: 0.6;
          outline: 2px solid #ffffff00;
          transition:
            outline-color 0.4s ease-in-out,
            opacity 0.4s ease-in-out;

          &.active {
            opacity: 1;
            outline-color: #ffffff8d;
          }
        }

        .buttons {
          overflow: hidden;
          overflow-x: auto;
          scrollbar-width: none;
          width: 100%;
          height: 14px;
          display: flex;
          align-items: center;
          justify-content: center;

          .button {
            aspect-ratio: 1/1;
            height: 24px;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 999rem;
            overflow: hidden;

            &:hover {
              background-color: transparent !important;
            }

            &:disabled {
              .arrow {
                background-color: #a5b1bf;
              }
            }
          }

          .arrow {
            position: relative;
            aspect-ratio: 1/1;
            height: 10px;
            background-color: var(--text-primary);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.4s ease-in-out;
          }

          .arrow.prev {
            clip-path: polygon(75% 0, 0 50%, 75% 100%);
          }

          .arrow.next {
            clip-path: polygon(25% 0, 25% 100%, 100% 50%);
          }
        }

        &:has(.buttons) ~ & {
          background-color: transparent;
          box-shadow: none;
        }
      }

      .buttons-wrapper {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }
}
