.video-container {
  --padding-inline: 12px;
  --padding-block: 12px;
  --bg: #00000000;
  --btn-bg: #00000033;
  --user-profile-size: 40px;
  --user-profile-border-radius: 50%;

  & {
    aspect-ratio: 9/16;
    position: relative;
    scroll-snap-align: start;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* padding-block: var(--padding-block); */
    z-index: 1;
  }

  .video-player-container {
    position: relative;
    flex: 1;
    background-color: var(--btn-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 1.5px solid var(--btn-bg);
    overflow: hidden;

    .video-header-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--bg);
      padding: var(--padding-block) var(--padding-inline);
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      z-index: 2;

      button {
        border: none;
        background-color: var(--btn-bg);

        &:hover {
          background-color: var(--btn-bg) !important;
        }
      }
    }

    video {
      flex: 1;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
