.video-container {
  --padding-inline: 12px;
  --padding-block: 12px;
  --bg: #00000000;
  --btn-bg: #00000033;
  --user-profile-size: 40px;
  --user-profile-border-radius: 50%;

  & {
    aspect-ratio: 9/16;
    position: relative;
    scroll-snap-align: start;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* padding-block: var(--padding-block); */
    z-index: 1;
  }

  .video-player-container {
    position: relative;
    flex: 1;
    background-color: #00000033;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 1.5px solid #00000033;
    overflow: hidden;

    .video-header-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--bg);
      padding: var(--padding-block) var(--padding-inline);
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      z-index: 2;

      button {
        border: none;
        background-color: var(--btn-bg);

        &:hover {
          background-color: var(--btn-bg) !important;
        }
      }
    }

    .video-owner-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--bg);
      padding: var(--padding-block) var(--padding-inline);
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      z-index: 2;

      .video-owner-info-header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 8px;

        .figure {
          display: flex;
          align-items: center;
          justify-content: center;
          width: var(--user-profile-size);
          height: var(--user-profile-size);
          border-radius: var(--user-profile-border-radius);
          overflow: hidden;
          background-color: gainsboro;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .user-info {
          display: flex;
          flex-direction: column;

          .shorts-info {
            display: flex;
            align-items: center;
            column-gap: 6px;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.03em;

            .dot {
              width: 4px;
              height: 4px;
              background-color: #9b9b9b;
              border-radius: 50%;
              display: inline-block;
            }
          }
        }

        .action-buttons {
          .follow-button {
            border-radius: 40px;
            background-color: gainsboro;
            color: #000;
          }
        }
      }

      .video-owner-info-body {
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .action-btns {
      position: absolute;
      background-color: transparent;
      bottom: 150px;
      right: 0;
      padding: var(--padding-block) var(--padding-inline);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      display: none;

      @media (width < 480px) {
        & {
          display: flex;
        }
      }
    }

    video {
      flex: 1;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
