/**
 * Skeleton Loading Styles
 */
.skeleton {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulse 1.5s ease-in-out infinite;
    overflow: hidden;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.h1-skeleton,
.h2-skeleton,
.h3-skeleton,
.h4-skeleton,
.h5-skeleton,
.h6-skeleton {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulse 1.5s ease-in-out infinite;
    overflow: hidden;

    @keyframes pulse {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.4;
        }

        100% {
            opacity: 1;
        }
    }
}

.h1-skeleton {
    height: clamp(calc(28/16 * 1rem), calc(16/16 * 1rem) + 2vw, calc(40/16 * 1rem));
    margin-block: 0.5em;
}

.h2-skeleton {
    height: clamp(calc(22/16 * 1rem), calc(14/16 * 1rem) + 2vw, calc(23/16 * 1rem));
    margin-block: 0.5em;
}

.h3-skeleton {
    height: clamp(calc(18/16 * 1rem), calc(14/16 * 1rem) + 2vw, calc(28/16 * 1rem));
    margin-block: 0.5em;
}

.h4-skeleton {
    height: clamp(calc(16/16 * 1rem), calc(12/16 * 1rem) + 2vw, calc(24/16 * 1rem));
    margin-block: 0.5em;
}

.h5-skeleton {
    height: clamp(calc(14/16 * 1rem), calc(10/16 * 1rem) + 2vw, calc(20/16 * 1rem));
    margin-block: 0.5em;
}

.h6-skeleton {
    height: clamp(calc(12/16 * 1rem), calc(8/16 * 1rem) + 2vw, calc(18/16 * 1rem));
    margin-block: 0.5em;
}

.p-skeleton {
    height: calc(16/16 * 1em);
    margin-block: 0.5em;
    width: 100%;
}
