.index {
    min-height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    place-items: center;

    .index-page {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        padding-bottom: calc(32/16 * 1em);
        max-width: calc(550/16 * 1em);

        .logo-container {
            aspect-ratio: 1/1;
            width: 100%;
            max-width: 350px;
            overflow: hidden;

            img {
                width: inherit;
                height: inherit;
                background-size: contain;
                background-position: center;
                animation: rotateInfinitely 2s infinite;
            }

            .img-skeleton {
                height: 100%;
                width: 100%;
                border-radius: 999rem;
            }
        }

        h1 {
            letter-spacing: 0.04em;
            text-align: center;
            max-width: 550px;
        }

        .heading-skeleton {
            display: flex;
            flex-direction: column;
            align-items: center !important;
            justify-content: center !important;
            width: 80%;
            margin-block: calc(24/16 * 1em);
            row-gap: calc(16/16 * 1em);

            .skeleton {
                height: clamp(calc(28/16 * 1rem), calc(16/16 * 1rem) + 2vw, calc(40/16 * 1rem));
                width: 100%;

                &:last-child {
                    max-width: 50%;
                }
            }
        }

        p {
            letter-spacing: 0.04em;
            line-height: 1.5;
            text-align: center;
            width: 100%;
            max-width: 450px;
        }

        .paragraph-skeleton {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            row-gap: calc(6/16 * 1em);
            width: 100%;

            .skeleton {
                height: calc(16/16 * 1em);
                width: 100%;

                &:last-child {
                    max-width: 75%
                }
            }
        }

        .buttons-conatiner {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            height: fit-content;
            width: 100%;
            margin-top: calc(16/16 * 1em);

            @media (width <=480px) {
                flex-direction: column;
                row-gap: 8px;
            }

            .link {
                /* max-width: calc(250/16 * 1em); */
                background-color: var(--button-secondary-background);

                &:hover {
                    background-color: var(--button-secondary-hover);
                }

            }
        }

        .buttons-skeleton {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            height: fit-content;
            width: 100%;
            margin-top: calc(16/16 * 1em);

            .skeleton {
                height: calc(40/16 * 1em);
                width: 100%;
                max-width: calc(250/16 * 1em);
                border-radius: 999rem;
            }
        }
    }

}

@keyframes rotateInfinitely {
    0% {
        transform: rotate(22.5deg);
    }

    50% {
        transform: rotate(-22.5deg);
    }

    100% {
        transform: rotate(22.5deg);
    }
}
