.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 8px;
        margin-block: 8px;

        &:last-child {
            @media (width <=480px) {
                flex-direction: column;
                row-gap: 8px;
            }
        }

        .signin-link {
            background-color: transparent;
            border: var(--border);

            &:hover,
            &:focus-visible {
                background-color: var(--button-primary-hover);
            }
        }

        .signup-button {
            width: 100%;
        }
    }
}
