<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account Activation Request</title>
</head>
<body>
    <p>Hello {{ user.get_full_name|default:user.email }},</p>
    <p>Welcome to our platform! To ensure the security of your account and gain full access to our services, we need you to verify your account.</p>
    <p>Simply click the verification link below to verify your account and complete your registration:</p>
    <p><a href="{{ activate_url }}">Verify</a></p>
    <p>This verification link will expire in 24 hours for security purposes. If you did not create this account, please disregard this email.</p>
    <p>Thank you for choosing our service! If you have any questions, please don't hesitate to contact our support team.</p>
</body>
</html>
