a {
  --link-height: calc(40 / 16 * 1em);
  --link-padding: calc(4 / 16 * 1em);
  --icon-height: calc(24 / 16 * 1em);
  --icon-width: calc(24 / 16 * 1em);
  border: none;
  outline: none;
  border-radius: 0;
  width: fit-content;
  padding: var(--link-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--link-padding);
  user-select: none;
  overflow: hidden;
  transition: var(--transition);

  @media (pointer: fine) {
    cursor: pointer;
  }

  .link-icon-container {
    margin: 0;
    height: var(--icon-height);
    width: var(--icon-width);
    min-height: var(--icon-height);
    min-width: var(--icon-width);
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    overflow: hidden;
    padding: calc(2 / 16 * 1em);

    &:is(*) {
      height: var(--icon-height);
      width: var(--icon-width);
      color: var(--link-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: var(--transition);
    }
  }

  &.link {
    border: var(--border);
    border-radius: 999rem;
    height: var(--link-height);
    width: 100%;
    padding-inline: calc(16 / 16 * 1em);
    border: var(--border);
    background-color: var(--btn-primary-bg);
    color: var(--link-primary);
    transition: var(--transition);

    &:is(:hover) {
      background-color: var(--btn-primary-hover);
    }

    &:is(:focus, :focus-visible) {
      background-color: var(--btn-primary-hover);
      outline: 2px solid var(--btn-primary-hover);
      outline-offset: 1px;
    }

    label {
      font-size: 1em;
      font-weight: 600;
      white-space: nowrap;
      text-transform: lowercase;
      line-height: var(--icon-height);
      cursor: inherit;
      text-wrap: nowrap;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  &.link-as-icon {
    border: var(--border);
    border-radius: 999rem;
    height: var(--link-height);
    min-height: var(--link-height);
    width: var(--link-height);
    min-width: var(--link-height);
    border: var(--border);
    background-color: var(--btn-primary-bg);
    color: var(--text-primary);
    transition: var(--transition);

    &:is(:hover) {
      background-color: var(--btn-primary-hover);
    }

    &:is(:focus, :focus-visible) {
      background-color: var(--btn-primary-hover) !important;
    }
  }
}

.active {
  color: var(--link-hover);
  background-color: var(--btn-primary-hover);
}

@media (pointer: fine) {
  .link,
  .link-as-icon {
    cursor: pointer;
  }
}
